<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./stylesheets/error.css">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <h1>404</h1>
        <h2>Opps! Page not found</h2>
        <p>
            The page you were looking for doesn't exist.You may have mistyped the address or the page may have moved.
        </p>
        <a href="/">Back To Home</a>
        <span class="cir1"></span>
        <div class="cir">
            <span></span>
            <span></span>
        </div>
        <span class="cir2"></span>
        <span class="cir3"></span>
    </div>
</body>
</html>