<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/animate.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/profile.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/resume.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/design.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/contact.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/imgshow.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/icon/css/all.min.css">
    <script type="text/javascript" src="./js/jquery.js"></script>
    <title>HOME</title>
</head>

<body>
    <div class="settings">
        <div class="set">
            <i class="fa fa-cog" aria-hidden="true"></i>
        </div>
        <div class="red"></div>
        <div class="blue"></div>
        <div class="yellow"></div>
        <div class="purple"></div>
    </div>
    <div class="container">
        <div class="menu">
            <ul>
                <li class="active" data-filter=".profile">
                    <i class="far fa-user"></i>
                    <p>Profile</p>
                </li>
                <li data-filter=".resume">
                    <i class="far fa-registered"></i>
                    <p>Resume</p>
                </li>
                <li data-filter=".design">
                    <i class="far fa-edit"></i>
                    <p>Design</p>
                </li>
                <li data-filter=".contact">
                    <i class="fas fa-phone-alt"></i>
                    <p>Contact</p>
                </li>
            </ul>
        </div>

        <div class="pages">
            <div class="item profile">
                <div class="img">
                    <img src="./image/img1.jpg" alt="" srcset="">
                </div>
                <span></span>
                <div class="name">
                    <h2>ANKIT PODDER</h2>
                    <h3>WEB DESIGNER</h3>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, quibusdam ut molestias totam
                        mollitia quo.
                    </p>
                </div>
                <span></span>
                <div class="details">
                    <p><b>Name&nbsp&nbsp</b> Ankit Podder</p>
                    <p><b>Birthday&nbsp&nbsp</b> Nov 2,2000</p>
                    <p><b>Address&nbsp&nbsp</b> Lake town,Kolkata</p>
                    <p><b>Email&nbsp&nbsp</b> ankit@gmail.com</p>
                    <p><b>Phone&nbsp&nbsp</b> 8622988250</p>
                </div>
            </div>
            <div class="item resume">
                <div class="box1">
                    <div class="name">
                        <h1>Ankit<span>Podder</span></h1>
                        <a href="#">DESIGN</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, ex!
                        </p>
                    </div>
                    <div class="details">
                        <p><span>phone&nbsp&nbsp</span>8622988250</p>
                        <p><span>Address&nbsp&nbsp</span>413 green park,lake town ,block-A,Kolkata-700055</p>
                        <p><span>Email&nbsp&nbsp</span>ankitpoodder0211@gmail.com</p>
                    </div>
                    <div class="header">

                        <h2>
                            Experience
                        </h2>
                    </div>
                    <div class="manager">
						<h4>2018-2019</h4>
						<p>Create website for Sadhana Caterers<br><a href="https://sadhanacaterers.herokuapp.com" style="text-decoration: none;">See It</a></p>
                        <h4>2019-now</h4>
                        <p>Member of IIC Techno Main SaltLake</p>
                        <h4>2019-now</h4>
                        <p>Work at Webd</p>
                    </div>
                </div>
                <div class="box2">
                    <div class="skills">
                        <div class="main">
                            <p>PS</p>
                            <div class="dot">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div class="main">
                        <div class="main">
                            <p>JS</p>
                            <div class="dot">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="main">
                            <p>C</p>
                            <div class="dot">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="main">
                            <p>PY</p>
                            <div class="dot">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <h2 id="caption">My Skills</h2>
                    <div class="skills-it">
                        <div>
                            <p>HTML</p>
                            <div class="bar">
                                <span data-filter="80%"></span>
                            </div>
                        </div>
                        <div>
                            <p>CSS</p>
                            <div class="bar">
                                <span data-filter="75%"></span>
                            </div>
                        </div>
                        <div>
                            <p>JS</p>
                            <div class="bar">
                                <span data-filter="35%"></span>
                            </div>
                        </div>
                        <div>
                            <p>KOTLIN</p>
                            <div class="bar">
                                <span data-filter="40%"></span>
                            </div>
                        </div>
                        <div>
                            <p>NODE JS</p>
                            <div class="bar">
                                <span data-filter="60%"></span>
                            </div>
                        </div>

                        <div style="margin-top: 30px;">
                            <p>C</p>
                            <div class="bar">
                                <span data-filter="90%"></span>
                            </div>
                        </div>
                        <div>
                            <p>JAVA</p>
                            <div class="bar">
                                <span data-filter="29%"></span>
                            </div>
                        </div>
                        <div>
                            <p>OCTAVE</p>
                            <div class="bar">
                                <span data-filter="10%"></span>
                            </div>
                        </div>
                        <div>
                            <p>PYTHON</p>
                            <div class="bar">
                                <span data-filter="65%"></span>
                            </div>
                        </div>
                        <div>
                            <p>DATA STR.</p>
                            <div class="bar">
                                <span data-filter="20%"></span>
                            </div>
                        </div>
                    </div>
                    <h2 class="interest">INTEREST</h2>
                    <div class="interest">
                        <div class="int">
                            <i class="fa fa-headphones" aria-hidden="true"></i>
                            <p>MUSIC</p>
                        </div>
                        <div class="int">
                            <i class="fa fa-plane" aria-hidden="true"></i>
                            <p>TRAVEL</p>
                        </div>
                        <div class="int">
                            <i class="fa fa-camera-retro" aria-hidden="true"></i>
                            <p>PHOTOGRAPHY</p>
                        </div>
                        <div class="int">
                            <i class="fa fa-bicycle" aria-hidden="true"></i>
                            <p>CYCLING</p>
                        </div>
                        <div class="int">
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                            <p>SOCIAL MEDIA</p>
                        </div>
                        <div class="int">
                            <i class="fa fa-laptop" aria-hidden="true"></i>
                            <p>PROGRAMMING</p>
                        </div>
                    </div>
                    <h2 class="education">EDUCATION</h2>
                    <div class="education">
                        <h4>2003-2006</h4>
                        <p>
                            Primary School<br>Phool Phutuk School
                        </p>
                        <h4>2006-2018</h4>
                        <p>
                            Secondary School<br>Dum Dum Krishna Kumar Hindu Academy
                        </p>
                        <h4>2018-present</h4>
                        <p>
                            College<br>Techno Main Salt Lake
                        </p>
                    </div>
                </div>
            </div>
            <div class="item design">
                <div class="container-design">
                    <div class="menu-design">
                        <ul>
                            <li class="active" data-filter="*">ALL</li>
                            <li data-filter=".music">MUSIC</li>
                            <li data-filter=".form">FORM</li>
                            <li data-filter=".home">HOME PAGE</li>
                            <li data-filter=".de">DESIGN</li>
                        </ul>
                    </div>
                    <div class="menu-design-item">
                        <div class="design-item music">
                            <img src="./image/img4.png">
                            <div class="about-img">
                                <h3 data-filter="#My_Creation">#My_Creation</h3>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="design-item home">
                            <img src="./image/img9.png">
                            <div class="about-img">
                                <h3 data-filter="#My_Creation">#My_Creation</h3>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="design-item form">
                            <img src="./image/img2.png">
                            <div class="about-img">
                                <h3 data-filter="#My_Creation">#My_Creation</h3>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="design-item music">
                            <img src="./image/img3.png">
                            <div class="about-img">
                                <h3 data-filter="#My_Creation">#My_Creation</h3>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="design-item home">
                            <img src="./image/img3.png">
                            <div class="about-img">
                                <h3 data-filter="#My_Creation">#My_Creation</h3>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="design-item music">
                            <img src="./image/img13.png">
                            <div class="about-img">
                                <h3 data-filter="#My_Creation">#My_Creation</h3>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="design-item home">
                            <img src="./image/img5.png">
                            <div class="about-img">
                                <h3 data-filter="#My_Creation">#My_Creation</h3>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="design-item de">
                            <img src="./image/img14.png">
                            <div class="about-img">
                                <h3 data-filter="#My_Creation">#My_Creation</h3>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="design-item form">
                            <img src="./image/img10.png">
                            <div class="about-img">
                                <h3 data-filter="#My_Creation">#My_Creation</h3>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="design-item de">
                            <img src="./image/img1.png">
                            <div class="about-img">
                                <h3 data-filter="#My_Creation">#My_Creation</h3>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="design-item form">
                            <img src="./image/img6.png">
                            <div class="about-img">
                                <h3 data-filter="#My_Creation">#My_Creation</h3>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="item contact">
                <div class="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1886245.9246553523!2d88.35317760000001!3d22.576332800000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0275ffb9ab1985%3A0x84bad1bbbc71cbb!2sGreen%20Park%20Rd%2C%20Block%20A%2C%20Lake%20Town%2C%20Kolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1579184818730!5m2!1sen!2sin"
                        frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
                <div class="contact-form">
                    <div class="contact-form1">
                        <h3>CONTACT &nbsp INFO</h3>
                        <span></span>
                        <span></span>
                        <p><b>Name &nbsp</b>Ankit Podder</p>
                        <p><b>Email &nbsp</b>ankitpoodder0211@gmail.com</p>
                        <p><b>Phone &nbsp</b>8622988250</p>
                        <p><b>Address &nbsp</b>413 green park lake town,Block -A,Kolkata - 700055</p>
                        <a href="https://www.facebook.com/ankit.podder.0211"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://www.instagram.com/ankitpodder211/"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="https://github.com/ANKITPODDER2000"><i class="fab fa-github"></i></a>
                    </div>
                    <div class="contact-form2">
                        <form>
                            <h2>Lets Keep in Touch</h2>
                            <span></span>
                            <input type="text" name="username" placeholder="Your Name">
                            <input type="gmail" name="mail" placeholder="Your Gmail">
                            <input type="number" name="phone" placeholder="Phone No">
                            <button>SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<div class="img-show">
		<h1>X</h1>
		<img src="" alt="">
	</div>



    <script type="text/javascript" src="./js/isotope.js"></script>
    <script src="./js/resume.js"></script>
    <script src="./js/resume1.js"></script>
    <script src="./js/design.js"></script>
</body>

</html>