.container .pages .item.profile{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}
.container .pages .item.profile > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: calc((85% - 3px) / 3);
}

.container .pages .item.profile div.img img{
    width: 100%;
}
body > div > div.pages > div.item.profile > div.name > h2{
    margin-bottom: 20px;
}
body > div > div.pages > div.item.profile > div.name > h3{
    margin-bottom: 30px;
}
body > div > div.pages > div.item.profile > div.name > p{
    width: 100%;
}

.container .pages .item.profile .details p{
    margin: 5px 0;
}
.container .pages .item.profile span{
    width: 2px;
    height: 50%;
    background: rgba(0,0,0,0.4);
    filter: blur(2px);
}


/*=========================Responsive================*/
@media screen and (max-width: 1000px){
    .container .pages .item.profile{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
        justify-content: center;
        align-items: center;
        height: 100%;
        z-index: 9999;
    }
    .container .pages .item.profile > div{
        width: 80%;
        position: relative;
        margin: 30px 0;
    }
    body > div.container > div.pages > div.item.profile > div.img{
        /*margin-top: 150px;
        position: relative;*/
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 400px;
    }
    body > div.container > div.pages > div.item.profile > div.img img{
        width: 70%;
        position: relative;
        display: inline-block;
        margin: 0 auto;
        width: 80%;
        height: 350px;
        object-fit: contain;
    }
    body > div.container > div.pages > div.item.profile > div.name{
            position: absolute;
            top: 420px;
            left: 0;
            width: 80%;
            height: 220px;
            display: block;
            margin: 0 10%;
    }
    body > div.container > div.pages > div.item.profile > div.name > h2{
        font-size: 20px;
        text-align: center;
        margin-top: 30px;
    }
    body > div.container > div.pages > div.item.profile > div.name > h3{
        font-size: 16px;
        text-align: center;
        margin-bottom: 15px;
    }
    body > div.container > div.pages > div.item.profile > span{
        display: none;
    }
    body > div.container > div.pages > div.item.profile > div.name > p{
        text-align: center;
    }
    body > div.container > div.pages > div.item.profile > div.details{
            position: absolute;
            top: 640px;
            height: 220px;
            margin: 0;
    }
}